.body, h2, h3, h4, p, li {
    font-family: Georgia;
}

.body {
    margin-left: 12px;
}

.outline {
    outline: 1px black solid;
    margin-left: 36px;
}

.nameBox {
    font-family: Georgia;
    background-color: lightslategray;
    float: top;
    padding: 6px;
    margin-bottom:6px;
    height: 120px;
    width: 220px;
}

.whoBox {
    font-family: Georgia;
    background-color: lemonchiffon;
    float: top;
    padding-top: 3px;
    padding-left: 18px;
    margin-bottom:6px;
    margin-right: 12px;
    height: 120px;
    width: 250px;
}